# =========================================================================
# VARIABLES DE ENTORNO LOCALES
# Copia este archivo como '.env' e inyecta tus credenciales secretas
# =========================================================================

# Puerto local sobre el cual montaremos la API REST
PORT=3000

# =========================================================================
# CREDENCIALES DE ORACLE DATABASE 
# IMPORTANTE: No comitear nunca el .env de producción a Git.
# =========================================================================
# DB_USER: El nombre de esquema base para el aplicativo (ej. FONTANELLA_DBA).
DB_USER=mi_usuario_oracle
# DB_PASSWORD: La contraseña asociada a ese esquema.
DB_PASSWORD=mi_password_segura
# DB_CONNECTION_STRING: Formato EZConnect (host:puerto/servicio). 
# Para Express Edition (XE) o PDBs típicos 'localhost:1521/XEPDB1'.
DB_CONNECTION_STRING=localhost:1521/XEPDB1
